.instaKidsrUs {

    margin-top: 80px;

    h2 {
        text-align: center;
        padding-bottom: 10px;
    }
}

.instagram_images_container {
    display: flex;
    justify-content: space-around;
    margin: 40px 0 80px 0;
}

.instagram_image {
    width: 19%;

    &:hover {
        filter: brightness(110%) saturate(90%);
    }
}