.newArrivals {

    margin: 100px 0 0 0;

    h2 {
        text-align: center;
        padding-bottom: 20px;
    }

}

.newArrivls_section_container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.left_menu {
    width: 30%;

    div {
        margin: 40px 0;
    }
}


.search_products {
    height: 50px;


    display: flex;
    justify-content: space-between;
}

.search_products_input {
    width: 100%;
    text-align: left;
    padding-left: 30px;

    border-right-color: transparent !important;

    &:placeholder {
        color: rgb(190, 190, 190);
        font-size: 17px;
    }
}

.search_products_button {
    margin-top: 0px !important;
}

.search_products_button_icon {
    width: 20px;
    height: auto;
}

.left_menu {
    h2 {
        text-align: left;
        padding-bottom: 0;
    }
}

.categories_container {
    margin: 20px 0 !important;

    ul>li {
        display: flex;
        justify-content: space-between;

        padding-bottom: 10px;
        margin: 10px 0;
        border-bottom: 1px solid rgb(190, 190, 190);

        &:last-child {
            border-bottom: none;
        }
    }
}

.categories_button {
    cursor: pointer;

    background-color: transparent;
    border: none;
    font-family: Quicksand;
    color: $secundary;
    font-weight: 600;
    font-size: 17px;

    &:hover {
        color: $primary;
    }
}

.cantidad_productos {
    font-size: 15px;
    color: rgb(96, 96, 96);
    font-weight: 600;
}


.best_sellers_container {
    margin: 20px 0 !important;

    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    li {
        display: flex;
        align-items: center;
        height: 110px;
    }
}

.best_sellers_info {
    margin-left: 20px !important;
    font-family: Quicksand;

    p {
        font-weight: 600;
        font-size: 17px;
        white-space: nowrap;
    }
}

.join_our_newsletter {
    background-color: $primary;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;

    h3 {
        font-family: Gilda Display, serif;
        color: white;
        text-align: center;
        font-size: 40px;
        font-weight: 200;
    }
}

.join_our_newsletter_input {
    margin-top: 30px;
    background-color: transparent;

    width: 100%;
    height: 50px;
    color: rgba(255, 255, 255, 0.623);
    padding-left: 20px;

    &::placeholder {
        color: rgba(255, 255, 255, 0.623);
        font-size: 17px;
    }
}

.separate {
    margin: 40px 0;
}