html,
body {
	padding: 0;
	margin: 0;
}

a {
	font-family: Francois One, serif;
}

p {
	font-family: Quicksand;
	font-weight: 400;
}

// .p1{
//   font-family: Quicksand;
// }
// .p2{
//   font-family: Francois One, serif;
// }
// .p3{
//   font-family: Gilda Display, serif;
// }


* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0px;
}

p,
li,
a {
	margin: 0px;
	font-size: 1.2rem;
}