html,
body {
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0px;
}

p,
li,
a {
	margin: 0px;
	font-size: 1.2rem;
	color: $secundary;
	list-style: none;
}

h2 {
	color: $secundary !important;
	font-family: Francois One, serif;
	text-transform: uppercase;
	font-weight: 400;
}

a {
	font-family: Francois One, serif;
}

p {
	font-family: Quicksand;
	font-weight: 400;
}

* {
	box-sizing: border-box;
	text-decoration: none;
}

ul {
	padding-inline-start: 0;
}

.container {
	width: 70%;
	margin: 0 auto;
}